// Base Settins
$page-settings: (
	'rtl': true
);

// Global Variables
$direction: map-get(
	$map: $page-settings,
	$key: 'rtl'
);

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);
