// @if $direction {
// 	@import '~bootstrap/dist/css/bootstrap-utilities.rtl.min.css';
// } @else {
// 	@import '~bootstrap/dist/css/bootstrap-utilities.min.css';
// }

.overflow-y-hidden {
	overflow-y: hidden;
}
/*------------------------------------
  Position Spaces
------------------------------------*/
.position-absolute {
	position: absolute;
}
.position-fixed {
	position: fixed;
}

.position-relative {
	position: relative;
}
.top-0 {
	top: 0;
}

.right-0 {
	right: 0;
}

.bottom-0 {
	bottom: 0;
}

.left-0 {
	left: 0;
}

// Small Devices
@include media-breakpoint-up(sm) {
	.position-sm-absolute {
		position: absolute;
	}
	.position-sm-fixed {
		position: fixed;
	}

	.position-sm-relative {
		position: relative;
	}

	.top-sm-0 {
		top: 0;
	}

	.right-sm-0 {
		right: 0;
	}

	.bottom-sm-0 {
		bottom: 0;
	}

	.left-sm-0 {
		left: 0;
	}
}

// Medium Devices
@include media-breakpoint-up(md) {
	.position-md-absolute {
		position: absolute;
	}
	.position-md-fixed {
		position: fixed;
	}

	.position-md-relative {
		position: relative;
	}
	.top-md-0 {
		top: 0;
	}

	.right-md-0 {
		right: 0;
	}

	.bottom-md-0 {
		bottom: 0;
	}

	.left-md-0 {
		left: 0;
	}
}

// Large Devices
@include media-breakpoint-up(lg) {
	.position-lg-absolute {
		position: absolute;
	}
	.position-lg-fixed {
		position: fixed;
	}

	.position-lg-relative {
		position: relative;
	}
	.top-lg-0 {
		top: 0;
	}

	.right-lg-0 {
		right: 0;
	}

	.bottom-lg-0 {
		bottom: 0;
	}

	.left-lg-0 {
		left: 0;
	}
}

@for $i from 1 to 10 {
	.z-index-#{$i} {
		z-index: $i;
	}
}

// typeography
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1e2022;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5rem;
	font-weight: 600;
	line-height: 1.4;
	color: #1e2022;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5rem;
	font-weight: 600;
	line-height: 1.4;
	color: #1e2022;
}
.h5,
h5 {
	font-size: 0.875rem;
}
.display-4 {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.4;
}

.text-capitalize {
	text-transform: capitalize;
}

// align
.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-left {
	text-align: left !important;
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bg-dark {
	background-color: #21325b !important;
}

.space-1,
.space-top-1 {
	padding-top: 2rem !important;
}
.space-1,
.space-bottom-1 {
	padding-bottom: 2rem !important;
}
@media (min-width: 992px) {
	.space-lg-2,
	.space-top-lg-2 {
		padding-top: 4rem !important;
	}
}

@media (min-width: 992px) {
	.space-bottom-lg-3,
	.space-lg-3 {
		padding-bottom: 8rem !important;
	}
}

@media (min-width: 992px) {
	.space-lg-0,
	.space-top-lg-0 {
		padding-top: 0 !important;
	}
}
@media (min-width: 992px) {
	.space-bottom-lg-2,
	.space-lg-2 {
		padding-bottom: 4rem !important;
	}
}

@media (min-width: 992px) {
	.mt-lg-n10,
	.my-lg-n10 {
		margin-top: -4.5rem !important;
	}
}
.text-white {
	color: #fff !important;
}

.h2,
h2 {
	font-size: 1.875rem;
}

.font-size-1 {
	font-size: 0.875rem;
}
h4,
.h4 {
	font-size: 1.125rem;
}
