.drawer {
	position: fixed;
	right: 0;
	top: 0;
	width: 23rem;
	height: 100vh;
	background-color: #fff;
	border-left: 0.0625rem solid #e7eaf3;
	box-shadow: -5px 0 12px rgb(103 119 136 / 10%);
	transform: translate3d(0, 0, 0);
    opacity: 0;
	z-index: 101;
	transition: 300ms opacity ease, 300ms transform ease;
	&.active {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	&.hidden {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
}
