.form-group {
	// margin-bottom: 1.5rem;
	margin-bottom: 0.5rem;
}
.form-error {
	margin-top: 0.5rem;
	height: 1.25rem;
}
.form-error-message {
	color: #ed4c78;
	font-size: 0.7rem;
}
.input-label {
	display: block;
	color: #1e2022;
	font-size: 0.875rem;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.6em + 1.21875rem);
	padding: 0.54688rem 0.875rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
	color: #1e2022;
	background-color: #fff;
	background-clip: padding-box;
	border: 0.0625rem solid #e7eaf3;
	border-radius: 0.3125rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-lg {
	height: calc(1.5em + 1.875rem);
	padding: 0.875rem 1.09375rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.3125rem;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
	border-color: #ed4c78;
}
.form-control.is-invalid {
	background-size: 1rem 1rem;
}

.form-control.is-invalid,
.form-control.is-invalid:focus {
	box-shadow: 0 0 10px rgb(237 76 120 / 10%);
}

.form-control:focus {
	color: #1e2022;
	background-color: #fff;
	border-color: rgba(55, 125, 255, 0.4);
	outline: 0;
	box-shadow: 0 0 10px rgba(55, 125, 255, 0.1);
}
.form-control::placeholder {
	font-size: 0.9rem;
}
.form-control::-webkit-input-placeholder {
	color: #97a4af;
	opacity: 1;
}
.form-control::-moz-placeholder {
	color: #97a4af;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #97a4af;
	opacity: 1;
}
.form-control::-ms-input-placeholder {
	color: #97a4af;
	opacity: 1;
}
.form-control::placeholder {
	color: #97a4af;
	opacity: 1;
}

.custom-select:focus,
.form-control:focus {
	box-shadow: 0 0 10px rgb(55 125 255 / 10%);
}

.form-control:focus {
	box-shadow: 0 0 0 0 transparent;
}
.form-control:focus {
	color: #1e2022;
	background-color: #fff;
	border-color: rgba(55, 125, 255, 0.4);
	outline: 0;
	box-shadow: 0 0 10px rgb(55 125 255 / 10%);
}

.select-box {
	$self: &;
	background-color: #fff !important;
	&__control {
		border-color: #e7eaf3 !important;
		color: #1e2022;
		cursor: pointer !important;
		&#{$self}__control--menu-is-open,
		&#{$self}__control--is-focused {
			box-shadow: 0 0 0 1px rgba(55, 125, 255, 0.4) !important;
		}
	}
	&__indicator-separator {
		display: none;
	}
	&__value-container {
		padding: 0.555rem 0.875rem !important;
		&#{$self}__value-container--is-multi {
			&.select-box__value-container--has-value {
				padding: 0.4rem 0.875rem !important;
			}
		}
	}
	&__single-value {
		color: #1e2022 !important;
	}
	&__placeholder {
		color: #97a4af !important;
	}
	&__dropdown-indicator svg,
	&__clear-indicator svg,
	&__multi-value__remove svg {
		fill: rgba(113, 134, 157, 0.849);
		width: 14px;
		height: 14px;
	}
	&__clear-indicator {
		& ~ #{$self}__indicator-separator {
			display: block;
		}
	}
	&__multi-value__remove svg {
		width: 12px;
		height: 12px;
	}

	&__menu-list {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	&__option {
		position: relative !important;
		color: #1e2022 !important;
		background-color: #fff;
		cursor: pointer !important;
		padding: 0.5rem !important;
		&#{$self}__option--is-focused {
			background-color: #fff !important;
		}
		&#{$self}__option--is-selected,
		&:hover {
			color: #1e2022;
			background-color: rgba(189, 197, 209, 0.3) !important;
		}

		&#{$self}__option--is-selected:before {
			content: '' !important;
			display: block !important;
			position: absolute !important;
			top: 50% !important;
			left: 0.5rem !important;
			width: 1rem !important;
			height: 1rem !important;
			background: lightcoral;
			background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 110 110' fill='%23377dff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M98.1,16.2c-2.5-2.3-6.4-2.2-8.7,0.2L36.7,70.1l-13-15.5c-2.9-3.5-7.9-4.1-11.1-1.4c-2.9,2.4-3.5,6.6-1.4,10.1l16.5,28c3.2,5.4,10.8,5.8,14.5,0.8l56.5-67.3C100.7,22.1,100.4,18.5,98.1,16.2z'/%3E%3C/svg%3E%0A")
				no-repeat left center/1rem 1rem !important;
			transform: translateY(-50%) !important;
			z-index: 100 !important;
		}
	}
	[class$='Input'] {
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

textarea.form-control {
	height: auto !important;
}

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

.toggle-switch {
	$self: &;
	display: table;
	cursor: pointer;
	margin-bottom: 0;
	&-label {
		position: relative;
		display: block;
		width: 3rem;
		height: 2rem;
		background-color: #e7eaf3;
		background-clip: content-box;
		border: 0.125rem solid transparent;
		border-radius: 6.1875rem;
		transition: 0.3s;
		#{$self}-input:checked + & {
			background-color: #377dff;
		}
	}

	&-indicator {
		position: absolute;
		left: 0.125rem;
		bottom: 50%;
		width: 1.5rem;
		height: 1.5rem;
		background-color: #fff;
		-webkit-transform: initial;
		transform: initial;
		box-shadow: 0 3px 6px 0 rgb(140 152 164 / 25%);
		border-radius: 50%;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
		transition: 0.3s;
		#{$self}-input:checked + #{$self}-label & {
			-webkit-transform: translate3d(1.025rem, 50%, 0);
			transform: translate3d(1.025rem, 50%, 0);
		}
	}
	&-input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}
