.tooltip {
	position: absolute;
	left: 50%;
	z-index: 9999;
	display: block;
	margin: 0;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: nowrap;
	line-break: auto;
	font-size: 0.8125rem;
	word-wrap: break-word;
	bottom: calc(100% + 10px);
	transform: translateX(-50%);
	opacity: 0;
	pointer-events: none !important;
	transition: 200 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.tooltip.show {
	opacity: 1;
}
.tooltip .arrow {
	position: absolute;
	display: block;
	width: 0.8rem;
	height: 0.4rem;
	left: 50%;
}
.tooltip .arrow::before {
	position: absolute;
	content: '';
	border-color: transparent;
	border-style: solid;
}
.tooltip-auto[x-placement^='top'],
.tooltip-top {
	padding: 0.4rem 0;
}
.tooltip-auto[x-placement^='top'] .arrow,
.tooltip-top .arrow {
	bottom: 0;
}
.tooltip-auto[x-placement^='top'] .arrow::before,
.tooltip-top .arrow::before {
	top: 0;
	border-width: 0.4rem 0.4rem 0;
	border-top-color: #132144;
}
.tooltip-auto[x-placement^='right'],
.tooltip-right {
	padding: 0 0.4rem;
}
.tooltip-auto[x-placement^='right'] .arrow,
.tooltip-right .arrow {
	left: 0;
	width: 0.4rem;
	height: 0.8rem;
}
.tooltip-auto[x-placement^='right'] .arrow::before,
.tooltip-right .arrow::before {
	right: 0;
	border-width: 0.4rem 0.4rem 0.4rem 0;
	border-right-color: #132144;
}
.tooltip-auto[x-placement^='bottom'],
.tooltip-bottom {
	padding: 0.4rem 0;
}
.tooltip-auto[x-placement^='bottom'] .arrow,
.tooltip-bottom .arrow {
	top: 0;
}
.tooltip-auto[x-placement^='bottom'] .arrow::before,
.tooltip-bottom .arrow::before {
	bottom: 0;
	border-width: 0 0.4rem 0.4rem;
	border-bottom-color: #132144;
}
.tooltip-auto[x-placement^='left'],
.tooltip-left {
	padding: 0 0.4rem;
}
.tooltip-auto[x-placement^='left'] .arrow,
.tooltip-left .arrow {
	right: 0;
	width: 0.4rem;
	height: 0.8rem;
}
.tooltip-auto[x-placement^='left'] .arrow::before,
.tooltip-left .arrow::before {
	left: 0;
	border-width: 0.4rem 0 0.4rem 0.4rem;
	border-left-color: #132144;
}
.tooltip-inner {
	max-width: 200px;
	padding: 0.25rem 0.5rem;
	color: #fff;
	text-align: center;
	background-color: #132144;
	border-radius: 0.3125rem;
}
