.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 0.0625rem solid transparent;
	border-radius: 0.3125rem;
}
.alert-primary {
	color: #fff;
	background-color: #377dff;
	border-color: #377dff;
}
.alert-secondary {
	color: #fff;
	background-color: #71869d;
	border-color: #71869d;
}
.alert-success {
	color: #fff;
	background-color: #00c9a7;
	border-color: #00c9a7;
}
.alert-danger {
	color: #fff;
	background-color: #ed4c78;
	border-color: #ed4c78;
}
.alert-warning {
	color: #1e2022;
	background-color: #f5ca99;
	border-color: #f5ca99;
}

.alert-info {
	color: #fff;
	background-color: #00c9db;
	border-color: #00c9db;
}

.alert-light {
	color: #1e2022;
	background-color: #f9fafc;
	border-color: #f9fafc;
}
.alert-dark {
	color: #fff;
	background-color: #132144;
	border-color: #132144;
}

.alert {
	&-init {
		display: block;
		opacity: 0;
		height: 0;
		overflow-y: hidden;
	}
	&-show {
		opacity: 1;
		height: 48px;
		overflow-y: hidden;
		transition: opacity 300ms, height 300ms;
	}
	&-active {
		opacity: 1;
		height: 48px;
		overflow-y: hidden;
		transition: opacity 300ms, height 300ms;
	}
	&-exit {
		height: 0;
		opacity: 0;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		overflow: hidden;
		transition: opacity 300ms, height 300ms, padding-bottom 300ms, padding-top 300ms;
	}
	&-hidden {
		opacity: 0;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		overflow: hidden;
		visibility: hidden;
	}
}
