.uploader {
	min-height: 200px;
	width: 100%;
	padding: 3rem 3rem;
	width: 100%;
	background-color: #f8fafd;
	border: 0.125rem dashed #e7eaf3;
	border-radius: 0.3125rem;
	cursor: pointer;
	&-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&-drag-img {
		display: flex;
		align-items: center;
		height: 60px;
		width: 60px;
		margin-bottom: 1rem;
		img {
			width: 100%;
		}
	}
	&-drop {
		background-color: #fff;
		border-radius: 0.3125rem;
		padding: 1rem 1rem;
		width: 100%;
		box-shadow: 0 3px 6px 0 rgb(140 152 164 / 25%);
	}
	&-file {
		display: flex;
	}
	&-progress {
		padding-top: 1rem;
		width: 100%;
	}
	&-file-img {
		width: 80px;
		height: 80px;
		flex-shrink: 0;
		img {
			display: block;
			object-fit: cover;
			width: 100%;
		}
	}

	&-file-details {
		text-align: right;
		padding: 0.5rem 1rem;
		flex-grow: 1;
	}
	&-file-title {
		font-size: 0.75rem;
		font-weight: 600;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&-file-size {
		font-size: 80%;
		color: #677788;
	}
}
