.btn {
	display: inline-block;
	font-weight: 400;
	color: #677788;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 0.0625rem solid transparent;
	padding: 0.54688rem 0.875rem;
	font-size: 0.875rem;
	line-height: 1.6;
	border-radius: 0.3125rem;
	transition: all 0.2s ease-in-out;
}

.btn {
	position: relative;
}
.btn-circle {
	border-radius: 50%;
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.btn-block {
	display: block;
	width: 100%;
}
.btn-primary {
	color: #fff;
	background-color: #377dff;
	border-color: #377dff;
}

.btn.focus,
.btn:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.btn:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active {
	box-shadow: 0 0 0 0 transparent;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #045cff;
	border-color: #0056f6;
}
.btn-primary:hover {
	color: #fff;
	background-color: #1164ff;
	border-color: #045cff;
}

.btn:hover {
	color: #677788;
	text-decoration: none;
}
.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #1164ff;
	border-color: #045cff;
	box-shadow: 0 0 0 0.2rem rgb(85 145 255 / 50%);
}

.btn-white {
	background-color: #fff;
	border-color: #e7eaf3;
}
.btn-white.active,
.btn-white.focus,
.btn-white:active,
.btn-white:focus,
.btn-white:hover {
	color: #0052ea;
	box-shadow: 0 3px 6px -2px rgb(140 152 164 / 25%);
}
.btn.focus,
.btn:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.btn:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active {
	box-shadow: 0 0 0 0 transparent;
}
.btn-group-lg > .btn,
.btn-lg {
	padding: 0.875rem 1.09375rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.3125rem;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(55 125 255 / 25%);
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}
.btn:hover {
	color: #677788;
	text-decoration: none;
}
.btn-primary:hover {
	color: #fff;
	background-color: #1164ff;
	border-color: #045cff;
}
.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #1164ff;
	border-color: #045cff;
	box-shadow: 0 0 0 0.2rem rgb(85 145 255 / 50%);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #045cff;
	border-color: #0056f6;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgb(85 145 255 / 50%);
}
.btn.focus,
.btn:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.btn:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active {
	box-shadow: 0 0 0 0 transparent;
}
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus {
	box-shadow: 0 0 0 0 transparent;
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #377dff;
	border-color: #377dff;
}
.btn.disabled,
.btn:disabled {
	opacity: 0.65;
}

.btn-ghost-secondary.focus,
.btn-ghost-secondary:active,
.btn-ghost-secondary:focus,
.btn-ghost-secondary:hover {
	color: #377dff;
}
.btn-ghost-secondary.active,
.btn-ghost-secondary.focus,
.btn-ghost-secondary:active,
.btn-ghost-secondary:focus,
.btn-ghost-secondary:hover {
	color: #71869d;
	background-color: rgba(55, 125, 255, 0.1);
}

.btn-ghost-secondary.active,
.btn-ghost-secondary.focus,
.btn-ghost-secondary:active,
.btn-ghost-secondary:focus,
.btn-ghost-secondary:hover {
	color: #71869d;
	background-color: rgba(55, 125, 255, 0.1);
}
.rounded-circle {
	border-radius: 50% !important;
}
.btn-icon {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 0.92969rem;
	font-weight: 400;
	width: 2.625rem;
	height: 2.625rem;
	padding: 0;
}

.btn-status {
	position: absolute;
	top: -0.4375rem;
	right: -0.4375rem;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 0.71094rem;
	font-weight: 600;
	width: 21px;
	height: 21px;
	background-color: #bdc5d1;
	border: 0.125rem solid #fff;
	padding: 0;
	border-radius: 50%;
}
.btn-status-danger {
	color: #fff;
	background-color: #ed4c78;
}

.btn-status-sm {
	top: -0.3125rem;
	right: -0.3125rem;
	font-size: 0.65625rem;
	width: 12px;
	height: 12px;
}
.btn.btn-circle .btn-status-sm {
	top: -0.15625rem;
	right: -0.15625rem;
}

.btn-ghost-dark.active,
.btn-ghost-dark.focus,
.btn-ghost-dark:active,
.btn-ghost-dark:focus,
.btn-ghost-dark:hover {
	color: #132144;
	background-color: rgba(19, 33, 68, 0.1);
}
.btn-xs {
	font-size: 0.75rem;
	font-weight: 400;
	padding: 0.24063rem 0.65625rem;
	border-radius: 0.25rem;
}
.btn-icon.btn-xs {
	font-size: 0.75rem;
	width: 1.53125rem;
	height: 1.53125rem;
}

.btn-group-sm > .btn,
.btn-sm {
	padding: 0.4375rem 0.65625rem;
	font-size: 0.8125rem;
	line-height: 1.5;
	border-radius: 0.25rem;
}

.btn-soft-primary {
	color: #377dff;
	background-color: rgba(55, 125, 255, 0.1);
	border-color: transparent;
}
.btn-soft-primary.active,
.btn-soft-primary:active,
.btn-soft-primary:focus,
.btn-soft-primary:hover {
	color: #fff;
	background-color: #377dff;
	box-shadow: 0 4px 11px rgb(55 125 255 / 10%);
}

.btn-soft-light {
	color: #f7faff;
	background-color: rgba(247, 250, 255, 0.1);
	border-color: transparent;
}
.btn-soft-light.active,
.btn-soft-light:active,
.btn-soft-light:focus,
.btn-soft-light:hover {
	color: #1e2022;
	background-color: #f7faff;
	box-shadow: 0 4px 11px rgb(247 250 255 / 10%);
}

.btn-ghost-light.active,
.btn-ghost-light.focus,
.btn-ghost-light:active,
.btn-ghost-light:focus,
.btn-ghost-light:hover {
	color: #f9fafc;
	background-color: rgba(249, 250, 252, 0.1);
}

.btn-ghost-light {
	color: #f9fafc;
	background-color: transparent;
}

.btn-ghost-danger.active,
.btn-ghost-danger.focus,
.btn-ghost-danger:active,
.btn-ghost-danger:focus,
.btn-ghost-danger:hover {
	color: #ed4c78;
	background-color: rgba(237, 76, 120, 0.1);
}
.btn-ghost-danger {
	color: #ed4c78;
	background-color: transparent;
}
